
* { margin: 0; padding: 0; }

ul, li { list-style: none; }

a, a:hover { color: #069; }

p { margin: 15px 0; }
p img { padding: 0; }

body {
    background: #EEE;
    font: normal 14px Arial, Sans-Serif;
	text-align: center;
	color: #333;
}

button {
    padding: 4px;
    font-weight: bold;
    font-size: 11px;
    color: #444;
}  

input, textarea {
    border: 1px solid #CCC;
}

h1 {
    font-size: 30px;
}

h1 a {
	text-decoration: none;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
}

h3 { font-size: 18px; }


#container {
    border: 1px solid #DDD;
	margin: 10px auto;
    width: 940px;
    padding: 20px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 1px 1px #BBB;
}

#page-header {
    text-align: left;
    border-bottom: 1px solid #CCC;
}

#menu {
    text-align: left;
    margin: 15px 0 0;
    padding: 10px;
    background: #333;
}

#menu li {	display: inline; }

#menu a {
	margin-right: 10px;
	text-transform: uppercase;
	font-size: 14px;
    color: #FFF;
    padding: 5px;
	font-weight: bold;
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}


/*--------CONTEUDO----------*/
#content {
    padding: 20px 0;
    text-align: left;
    float: left;
	width: 600px;
}

.date {
    color: #F50;
    font-size: 11px;
}

.entry {
    padding: 20px 0;
}

/*SIDEBAR----------------*/
#sidebar {
    width: 220px;
    float: right;
    text-align: left;
    padding: 20px 0 30px 20px;
    border-left: 1px dashed #DDD;
}

#sidebar ul li {
	padding: 5px 0;
	list-style: none;
	border-bottom: 1px dashed #DDD;
}

/*--- RODAPE ---*/
#page-footer {
    clear: both;
    text-align: left;
    padding: 10px 0 20px;
    border-top: 1px solid #CCC;
    margin-top: 20px;
}
