# base_url must have a trailing slash
base_url = http://localhost/

# theme used by default if a custom theme is not provided in data files
default_theme = ionize

# directories ion should not enter, comma separated
# blocked_dirs = com, mydir, folder/sub
